In [2]:
import pandas as pd
import numpy as np
import datetime
import os

print("Libraries imported successfully")

Libraries imported successfully

In [5]:
df1 =pd.read_csv(r'C:\Users\User\OneDrive\Desktop\kaggle_set\Jan_2023.csv')
df2 =pd.read_csv(r'C:\Users\User\OneDrive\Desktop\kaggle_set\Feb_2023.csv')
df3 = pd.read_csv(r'C:\Users\User\OneDrive\Desktop\kaggle_set\March_2023.csv')
df4 = pd.read_csv(r'C:\Users\User\OneDrive\Desktop\kaggle_set\April_2023.csv')
print("CSV files successfully loaded")

CSV files successfully loaded

In [6]:
df1

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
190296,A303816F2E8A35A8,electric_bike,2023-01-11 17:46:23,2023-01-11 17:57:31,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902634,-87.631591,41.920771,-87.663712,casual
190297,BCDBB142CC610382,classic_bike,2023-01-30 15:08:10,2023-01-30 15:33:26,Western Ave & Leland Ave,TA1307000140,Clarendon Ave & Gordon Ter,13379,41.966400,-87.688704,41.957867,-87.649505,member
190298,7D1C7CA80517183B,classic_bike,2023-01-06 19:34:50,2023-01-06 19:50:01,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902973,-87.631280,41.920771,-87.663712,casual
190299,1A4EB636346DF527,classic_bike,2023-01-13 18:59:24,2023-01-13 19:14:44,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902973,-87.631280,41.920771,-87.663712,casual
190300,069971675AC7DC62,electric_bike,2023-01-02 13:48:29,2023-01-02 13:59:29,Clark St & Elm St,TA1307000039,Southport Ave & Clybourn Ave,TA1309000030,41.902822,-87.631687,41.920771,-87.663712,casual

In [7]:
frames = (df1, df2, df3, df4)
main_df = pd.concat(frames)
main_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426585,8B441A6C436E9900,classic_bike,2023-04-29 21:20:21,2023-04-29 21:30:19,Halsted St & 18th St,13099,Blue Island Ave & 18th St,13135,41.857506,-87.645991,41.857556,-87.661535,casual
426586,3980D64BE11540F1,classic_bike,2023-04-24 09:16:05,2023-04-24 09:22:27,Halsted St & 18th St,13099,Blue Island Ave & 18th St,13135,41.857506,-87.645991,41.857556,-87.661535,casual
426587,3EF4B49FF7DAA02C,classic_bike,2023-04-18 07:53:51,2023-04-18 07:59:16,Franklin St & Jackson Blvd,TA1305000025,Clark St & Randolph St,TA1305000030,41.877708,-87.635321,41.884576,-87.631890,casual
426588,210B2ED6583DC231,classic_bike,2023-04-29 07:33:55,2023-04-29 07:38:57,Michigan Ave & Lake St,TA1305000011,Clark St & Randolph St,TA1305000030,41.886022,-87.624398,41.884576,-87.631890,casual
426589,D29CB39B9E3FC46A,electric_bike,2023-04-18 08:00:32,2023-04-18 08:02:35,Franklin St & Jackson Blvd,TA1305000025,Clark St & Ida B Wells Dr,TA1305000009,41.878134,-87.635255,41.875933,-87.630585,casual

In [8]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1066014 entries, 0 to 426589
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   ride_id             1066014 non-null  object
 1   rideable_type       1066014 non-null  object
 2   started_at          1066014 non-null  object
 3   ended_at            1066014 non-null  object
 4   start_station_name  914096 non-null   object
 5   start_station_id    913964 non-null   object
 6   end_station_name    904368 non-null   object
 7   end_station_id      904227 non-null   object
 8   start_lat           1066014 non-null  float64
 9   start_lng           1066014 non-null  float64
 10  end_lat             1065153 non-null  float64
 11  end_lng             1065153 non-null  float64
 12  member_casual       1066014 non-null  object
dtypes: float64(4), object(9)
memory usage: 113.9+ MB

In [9]:
main_df.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    151918
start_station_id      152050
end_station_name      161646
end_station_id        161787
start_lat                  0
start_lng                  0
end_lat                  861
end_lng                  861
member_casual              0
dtype: int64

In [10]:
main_df = main_df.dropna(how='any',axis=0)

print("Null values removed successfully.")

main_df.isnull().sum()

Null values removed successfully.

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [11]:
main_df.duplicated().any()

False

In [12]:
pd.options.mode.chained_assignment = None  # default='warn'

main_df["started_at"] = pd.to_datetime(main_df["started_at"])
main_df["ended_at"] = pd.to_datetime(main_df["ended_at"])

print("Typecast of variables changed successfully.") 
main_df.info()

Typecast of variables changed successfully.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 822488 entries, 0 to 426589
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             822488 non-null  object
 1   rideable_type       822488 non-null  object
 2   started_at          822488 non-null  datetime64[ns]
 3   ended_at            822488 non-null  datetime64[ns]
 4   start_station_name  822488 non-null  object
 5   start_station_id    822488 non-null  object
 6   end_station_name    822488 non-null  object
 7   end_station_id      822488 non-null  object
 8   start_lat           822488 non-null  float64
 9   start_lng           822488 non-null  float64
 10  end_lat             822488 non-null  float64
 11  end_lng             822488 non-null  float64
 12  member_casual       822488 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 87.9+ MB

In [13]:
main_df["trip_duration"] = main_df["ended_at"] - main_df["started_at"]
main_df["trip_duration"] = pd.to_numeric(main_df["trip_duration"])/6e+10

In [14]:
main_df["trip_duration"].describe(include = "all")

count    822488.000000
mean         13.056508
std          31.227751
min          -0.083333
25%           4.766667
50%           8.150000
75%          14.233333
max        2349.350000
Name: trip_duration, dtype: float64

In [15]:
# removing outliers by creating filters
outliers_trip_duration = (main_df["trip_duration"] < 1) | (main_df["trip_duration"] > 480)
outliers_trip_duration.value_counts()

False    799191
True      23297
Name: trip_duration, dtype: int64

In [17]:
main_df.drop(main_df.index[outliers_trip_duration], inplace = True)

print("Inconsistent values deleted successfully.")

Inconsistent values deleted successfully.

In [18]:
main_df["trip_distance"] = np.sqrt(((main_df["end_lat"] - main_df["start_lat"])**2) + ((main_df["end_lng"] - main_df["start_lng"])**2))
main_df["trip_distance"] = main_df["trip_distance"] * 111.139

In [19]:
main_df["start_hour"] = main_df["started_at"].dt.hour
main_df["start_hour"].unique()

array([20, 15,  7, 10, 13, 21, 16, 17, 19, 22,  9, 18, 12,  4,  6, 14, 11,
        8,  0,  5,  1, 23,  3,  2], dtype=int64)

In [20]:
main_df["start_day_num"] = main_df["started_at"].dt.dayofweek
day_dict = {0:"Sunday", 1:"Monday", 2:"Tuesday", 3:"Wednesday", 4:"Thursday", 5:"Friday", 6:"Saturday"}
main_df["start_day_name"]= main_df["start_day_num"].apply(lambda y:day_dict[y])

In [21]:
main_df["weekend"] = np.where(main_df["start_day_num"] > 5, True, False)

In [22]:
main_df['start_month_num'] = main_df['started_at'].dt.month
main_df["start_month_num"].unique()

array([1, 2, 3, 4], dtype=int64)

In [23]:
month_dict = {1:"January", 2:"February", 3:"March", 4:"April"}
main_df["start_month_name"]= main_df["start_month_num"].apply(lambda y:month_dict[y])
main_df["start_month_name"].unique()

array(['January', 'February', 'March', 'April'], dtype=object)

In [24]:
main_df['start_year'] = main_df['started_at'].dt.year
main_df["start_year"].unique()

array([2023], dtype=int64)

In [25]:
main_df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,member_casual,trip_duration,trip_distance,start_hour,start_day_num,start_day_name,weekend,start_month_num,start_month_name,start_year
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,...,member,10.850000,0.959512,20,5,Friday,False,1,January,2023
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,...,member,8.483333,1.251998,15,1,Monday,False,1,January,2023
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,...,casual,13.233333,3.603679,7,0,Sunday,False,1,January,2023
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,...,member,8.766667,1.251998,10,6,Saturday,True,1,January,2023
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,...,member,15.316667,1.251998,13,3,Wednesday,False,1,January,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426585,8B441A6C436E9900,classic_bike,2023-04-29 21:20:21,2023-04-29 21:30:19,Halsted St & 18th St,13099,Blue Island Ave & 18th St,13135,41.857506,-87.645991,...,casual,9.966667,1.727504,21,5,Friday,False,4,April,2023
426586,3980D64BE11540F1,classic_bike,2023-04-24 09:16:05,2023-04-24 09:22:27,Halsted St & 18th St,13099,Blue Island Ave & 18th St,13135,41.857506,-87.645991,...,casual,6.366667,1.727504,9,0,Sunday,False,4,April,2023
426587,3EF4B49FF7DAA02C,classic_bike,2023-04-18 07:53:51,2023-04-18 07:59:16,Franklin St & Jackson Blvd,TA1305000025,Clark St & Randolph St,TA1305000030,41.877708,-87.635321,...,casual,5.416667,0.853288,7,1,Monday,False,4,April,2023
426588,210B2ED6583DC231,classic_bike,2023-04-29 07:33:55,2023-04-29 07:38:57,Michigan Ave & Lake St,TA1305000011,Clark St & Randolph St,TA1305000030,41.886022,-87.624398,...,casual,5.033333,0.848006,7,5,Friday,False,4,April,2023
426589,D29CB39B9E3FC46A,electric_bike,2023-04-18 08:00:32,2023-04-18 08:02:35,Franklin St & Jackson Blvd,TA1305000025,Clark St & Ida B Wells Dr,TA1305000009,41.878134,-87.635255,...,casual,2.050000,0.573796,8,1,Monday,False,4,April,2023

In [26]:
main_df.to_csv('cyclistic_dataset.csv', index=False)

print("Dataset exported as CSV file successfully.")

Dataset exported as CSV file successfully.